<%- include('template/cabezera.ejs')  %>



<form action="/admin/agregar" method="post" id="contact-form">
    <div class="input-group">
        <h4>formularios</h4>
        <label for="name">nombre</label>
        <input class="controls" type="text" name="name" id="name" placeholder="ingrese el nombre del producto">
        <label for="code">codigo</label>
        <input class="controls" type="text" name="code" id="code" placeholder="ingrese el codigo del producto">
        <label for="price">precio</label>
        <input class="controls" type="text" name="price" id="price" placeholder="ingrese el precio del producto">
        <label for="description">descripcion</label>
        <input class="controls" type="text" name="description" id="description" placeholder="ingrese el descripcion del producto">
        <label for="id">id</label>
        <input class="controls" type="id" name="id" id="id" placeholder="ingrese su id">
        <input class="g-recaptcha" type="submit" >
    </div>  
    </form>
  
    
  
  