<%- include('template/cabezera.ejs')  %>


<% for (var i=0; i<categorias.length; i++) { %>
<form action="/admin/agregarCategoria" method="post" id="contact-form">
  <div class="input-group">
    
        <h4>EDITAR CATEGORIA</h4>
        <br>
        <label for="nameCategoria">NOMBE</label>
        <input class="controls" type="text" name="nameCategoria" id="nameCategoria" value="<%= categorias[i].nameCategoria %>" required>
        <br>
        <label for="idCategoria">ID</label>
        <input class="controls" type="id" name="idCategoria" id="idCategoria" value="<%= categorias[i].idCategoria %>" required>
        <br>
        <input class="g-recaptcha" type="submit" >
    </div>
    </form>
    <% } %>