<%- include('template/cabezera.ejs')  %>
<form action="/admin/agregarCategoria" method="post">
    <section class="form-register2">
        <h4>form</h4>
        <label for="nameCategoria">nameCategoria</label>
      <input class="controls" type="text" name="nameCategoria" id="nameCategoria" placeholder="ingrese el descripcion del nameCategoria">

      
      <input class="botons" type="submit" >
    </section>  
    </form>