<%- include('template/cabezera.ejs')  %>
<form action="/admin/agregarCategoria" method="post"id="contact-form" class="form">
 <div class="input-group">
        <h4>agregar</h4>
        <br>
        <label for="nameCategoria">nameCategoria</label>
        <input class="controls" type="text" name="nameCategoria" id="nameCategoria" required>
        
        <br>
        <input class="g-recaptcha" type="submit" >
    </div>
    </form>
          
          
      