<%- include('template/cabezera.ejs')  %>
<body>
  <form  action="/login" method="post" id="contact-form" class="form">
    <div class="input-group">
      <br>
      <h4>registrese para segir</h4>
      <br>
      <label for="email">email</label>
    <input class="controls" type="text" name="username" id="">
    <br>
    <label for="password">password</label>
    <input class="controls" type="password" name="password" id="">
    <br>
    <input class="g-recaptcha" type="submit" >
  </div>
  <p>usuario:usuario</p>
  <p>contraseña: usuario</p>
</form>
</body>
</html>