<%- include('template/cabezera.ejs')  %>
<body>
  <form  action="/login" method="post" id="contact-form">
    <div class="input-group">
      <h4>registrese para segir</h4>
      <label for="email">email</label>
    <input class="controls" type="text" name="username" id="">
    <label for="password">password</label>
    <input class="controls" type="password" name="password" id="">
    <input class="g-recaptcha" type="submit" >
  </div>
</form>
</body>
</html>