<%- include('template/cabezera.ejs')  %>
<body>
  <form  action="/login" method="post">
    <section class="form-register">
      <h4>registrese para segir</h4>
      <label for="email">email</label>
    <input class="controls" type="text" name="username" id="">
    <label for="password">password</label>
    <input class="controls" type="password" name="password" id="">
    <input class="botons" type="submit" >
</section>
</form>
</body>
</html>