*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}    



.form {
  border-radius: 20px;
  text-align: center;
  width: 540px;
}

.hola{
  border-radius: 20px;
  
  width: 540px;
}

.input-group{
  display: flex;
  flex-direction: column;
  text-align: left;
}



label{
  color: #283629;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}


.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form-txt a {
  color: #76b28e;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.g-recaptcha {
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  background-color: #f5a803;
  
  cursor: pointer;
}

.g-recaptcha:hover{
  background: #76b28e;
}

@media (max-width:991px) {
  body {
    padding: 30px;
  }
  form {
      padding: 50px 30px;
      width: 100%;
  }
  input {
      padding: 15px;
  }
}


table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f5a803;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

 .p{
  border-radius: 20px;
  text-align: center;
  width: 540px;
  background-color: rgb(198, 195, 195);
  padding: 15px;
  margin-left: 20px;
  margin-top: 20px;
}

.submit {
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  background-color: rgb(6, 6, 6);
  
  cursor: pointer;
}

.blue-btn {
  background-color: blue;
}
































table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #212529;
  font-size: 0.9rem;
  text-align: left;
  border: 1px solid #dee2e6;
  font-family: Arial, sans-serif;
}


th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

th {
  background-color: #f5a803;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}










































.button-container {
  display: flex;
  
}

.add {
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px;
  background: rgb(0, 145, 255);
  color: white;
  font-family: Arial, sans-serif;
  order: 1;
}

.list {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  background: rgb(0, 145, 255);
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  order: 2;
  margin-left: 25px;
  }
  
  
 









.edit {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px;  
}